.header {
  color: #fff;
  background: #673ab7;
  padding: 50px 0;

  .app-title {
    font-size: 35px;
    margin-bottom: 0;

    mat-icon {
      font-size: 35px;
      width: auto;
      height: auto;
      margin-right: 20px;
      color: #fff;
    }
  }
}
