@import "mixins";

mat-card {
  mat-card-header {
    h1 {
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;
    }
  }

  mat-card-content {
    box-sizing: border-box;

    &.input-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;

      :first-child {
        grid-column: 1 / -1;
      }

      @include small-screen {
        display: block;
        width: 100%;
        mat-form-field {
          width: 100%;
        }
      }
    }
  }

  mat-card-actions {
    button {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}

mat-snack-bar-container {
  &.success-snackbar {
    .mdc-snackbar__surface {
      background-color: green;
      color: #000;
    }
  }

  &.error-snackbar {
    .mdc-snackbar__surface {
      background-color: #f44336;
      color: #000;
    }
  }
}
