<div class="actions-top">
    <button color="primary" mat-fab routerLink="/">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-card>
    <form (ngSubmit)="addAddress()">
        <mat-card-header>
            <h1>Neue Adresse hinzufügen</h1>
        </mat-card-header>
        <mat-card-content class="input-grid">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input [formControl]="validation.nameControl" matInput>
                <mat-error
                        *ngIf="validation.nameControl.invalid && validation.nameControl.touched || submitted">
                    Name ist ein Pflichtfeld.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Straße</mat-label>
                <input [formControl]="validation.streetControl" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Hausnummer</mat-label>
                <input [formControl]="validation.streetNoControl" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PLZ</mat-label>
                <input [formControl]="validation.zipControl" matInput>
                <mat-error
                        *ngIf="validation.zipControl.invalid && validation.zipControl.touched || submitted">
                    Nur Nummern zugelassen.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Ort</mat-label>
                <input [formControl]="validation.locationControl" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Telefon</mat-label>
                <input [formControl]="validation.phoneControl" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>E-Mail</mat-label>
                <input [formControl]="validation.mailControl" matInput>
                <mat-error
                        *ngIf="validation.mailControl.invalid && validation.mailControl.touched || submitted">
                    Dies ist keine valide E-Mail-Adresse.
                </mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
            <button color="primary" mat-flat-button type="submit">
                <mat-icon>save</mat-icon>
                Adresse speichern
            </button>
        </mat-card-actions>
    </form>
</mat-card>

