<h1 class="align-with-icon">
    <mat-icon color="primary">group</mat-icon>
    Kontakte
</h1>
<mat-list>
    <mat-list-item (click)="onSelectAddress(address.id)" *ngFor="let address of addresses" tabindex="0">
        <span matListItemTitle>{{ address.name }}</span>
        <div matListItemMeta>
            <button (click)="onEditAddress(address)" color="accent" mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
            <button (click)="onDeleteAddress(address)" color="warn" mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-list-item>
    <button color="primary" mat-flat-button routerLink="/address-form">
        <mat-icon>add</mat-icon>
        Neue Adresse hinzufügen
    </button>
</mat-list>
