@import '../../styles/variables';

mat-list-item {
  border-radius: 4px;
  background: #fff;
  margin-bottom: 10px;
  min-height: 60px;

  &:hover {
    cursor: pointer;
  }

  &:focus,
  &:focus-within, {
    border-radius: 4px;
    background: #fff;
    margin-bottom: 10px;

    &:hover {
      cursor: pointer;
    }

    &:focus,
    &:focus-within,
    &:focus-visible {
      outline: 2px solid #673ab7;
      --mdc-list-list-item-focus-state-layer-color: #fff;
    }
  }

  &:focus-visible {
    outline: 2px solid #673ab7;
    --mdc-list-list-item-focus-state-layer-color: #fff;
  }
}

.live-search {
  margin-bottom: 10px;
}

::ng-deep .live-search.mat-mdc-form-field-has-icon-prefix .mat-mdc-text-field-wrapper {
  border-radius: 4px;
  align-items: center;
  background: transparent;
}

::ng-deep .live-search .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.button-new-address {
  margin-top: 10px;
}

::ng-deep mark {
  background-color: $primary-color;
  color: #fff;
}

::ng-deep mt-address-list .mdc-list-item--with-trailing-meta.mdc-list-item--with-two-lines .mdc-list-item__end {
  align-self: center;
}
