mat-list-item {
  border-radius: 4px;
  background: #fff;
  margin-bottom: 10px;

  &:hover {
    cursor: pointer;
  }

  &:focus,
  &:focus-within,
  &:focus-visible {
    outline: 2px solid #673ab7;
    --mdc-list-list-item-focus-state-layer-color: #fff;
  }
}
