body {
  background: #ddd;
  margin: 0;
  padding: 0;
}

a {
  color: #673ab7;
  text-decoration: none;
}

mt-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  color: #fff;
  background: #673ab7;
  padding: 50px 0;
}

.main {
  padding: 50px 0;
  width: 100%;
}

.footer {
  padding: 50px 0;
  background: #333;

  .copyright {
    color: darken(#fff, 20%);
  }
}

.container {
  max-width: 600px;
  margin: auto;
}


.align-with-icon {
  display: flex;
  align-items: center;

  &--top {
    align-items: flex-start;
  }

  mat-icon {
    margin-right: 10px;
  }
}

.actions-top {
  margin-bottom: 20px;
}


mat-card {
  mat-card-header {
    h1 {
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;
    }
  }

  mat-card-content {
    &.input-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;

      :first-child {
        grid-column: 1 / -1;
      }
    }
  }

  mat-card-actions {
    button {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}

mat-snack-bar-container {
  &.success-snackbar {
    .mdc-snackbar__surface {
      background-color: green;
      color: #000;
    }
  }

  &.error-snackbar {
    .mdc-snackbar__surface {
      background-color: #f44336;
      color: #000;
    }
  }
}
